{% extends 'base.html' %}

{% block main %}
    Edit
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Salvar</button>
    </form>
    <table>
        <tr>
            <th>Equipamentos</th>
        </tr>
        {% for quadro in object.quadroequipamentos_set.all %}
            <tr>
                <td>
                    <a href="{% url 'edit_quadro' quadro.pk %}">{{ quadro }}</a>
                </td>
                <td>
                    <a href="{% url 'delete_quadro' quadro.pk %}"><i class="icon-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        {% if object.pk > 0 %}
            <tr>
                <td>
                    <a href="{% url 'create_quadro' object.pk %}" class="btn btn-success">Inserir Equipamento</a>
                </td>
            </tr>
        {% endif %}
    </table>
    <table>
        <tr>
            <th>Acessórios</th>
        </tr>
        {% for quadro in object.quadroacessorio_set.all %}
            {% if quadro.ativo %}
            <tr>
                <td>
                    <a href="{% url 'edit_quadro_acessorio' quadro.pk %}">{{ quadro }}</a>
                </td>
                <td>
                    <a href="{% url 'delete_quadro_acessorio' quadro.pk %}"><i class="icon-trash"></i></a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        {% if object.pk > 0 %}
            <tr>
                <td>
                    <a href="{% url 'create_quadro_acessorio' object.pk %}" class="btn btn-success">Inserir Acessorio</a>
                </td>
            </tr>
        {% endif %}
    </table>
    {% if object.quadroequipamentos_set.count > 0 %}
        <a href="{% url 'vincular_equipamento' gContrato=object.pk gEmpresa=request.session.empresa_id %}" class="btn btn-success">Vincular Equipamentos</a>
    {% endif %}

    {% if object.quadroequipamentos_set.count > 0 %}
        <a href="{% url 'desvincular_equipamento' gContrato=object.pk gEmpresa=request.session.empresa_id %}" class="btn btn-success">Desvincular Equipamentos</a>
    {% endif %}
    <br><br><br>
    <b>Notas emitidas</b><br>
{% if object.notacobranca_set.count > 0 %}
    {% for nota in object.notacobranca_set.all %}
        <a href="{% url 'edit_nota_cobranca' nota.pk %}">{{ nota }}</a><br>
    {% endfor %}
{% else %}
    <p>Não há notas emitidas</p>
{% endif %}
{% endblock %}