{% extends 'base.html' %}

{% block main %}

    <!-- Desvincular Equipamento -> Contrato
    ============================================= -->
        <h3>Desvincular Equipamento - Contrato {{ request.session.contrato }} | {{ request.session.n_contrato }}</h3>
        <form id="desvincularEquipForm" name="desvincularEquipForm" class="nobottommargin"
              action="{% url 'grava_equipamento_desv' gContrato=request.session.contrato %}" method="post">
        {% csrf_token %}
            <div class="col_full">
                <label for="desvincularEquipFormSerie">Número de Série:</label>
                <input type="text" id="desvincularEquipFormSerie" name="desvincularEquipFormSerie"
                       value="" class="form-control" autofocus/>
            </div>
            <p>Ainda estão vinculados {{ request.session.vinculados }}</p>
            <div class="col_half nobottommargin">
                <button class="button button-3d button-black nomargin" id="desvincularEquipForm-submit"
                        name="desvincularEquipForm-submit" value="register" type="submit">Gravar</button>
            </div>
            <div class="col_half col_last nobottommargin">
                <a href="{% url 'edit_contratos' request.session.contrato %}"
                   class="button button-3d button-black nomargin" id="vincularEquipForm-sair"
                   name="desvincularEquipForm-sair" value="sair">Sair</a>
            </div>
        </form><!-- #vincular equipamento  end -->

{% endblock %}
