{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="K3 Express" />
    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <!-- One Page Module Specific Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/onepage.css' %}" type="text/css" />
    <!-- / -->
    <link rel="stylesheet" href="{% static 'css/dark.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/et-line.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <style>
        .button-pt {
            padding-top:30px;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    </style>
    <style>
    .sticky-side-element {
        position: fixed;
        top: 50%;
        margin-top: -24px;
        left: auto;
        right: -31px;
        height: 48px;
        line-height: 48px;
        padding: 0 15px;
        background-color: #EEE;
        color: #222;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        z-index: 100;
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    </style>

    <!-- Document Title
    ============================================= -->
    <title>Lira Soft | by K3 Express</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

        <!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-nobg">

			<div class="container clearfix">
				<h1>Bem vindo ao Lira Soft</h1>
				<span>Você está logado como {{ request.user.first_name }} {{ request.user.last_name }} na empresa {{ request.session.empresa }}</span>
            </div>

		</section><!-- #page-title end -->

		<section id="content" style="background-image: url('{{STATIC_PREFIX}}images/parallax/1.jpg');; background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">
			<div class="content-wrap">
				<div class="container clearfix">
					<div class="row">
						<div class="col-lg-6">
							<div class="clear"></div>
							<!-- Modal Menu
							============================================= -->
							<div class="modal fade bs-example-modal-sm" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="contactFormModalLabel">Menu</h4>
										</div>
										<div class="modal-body">
                                            <nav class="nav-tree nobottommargin">
                                                <ul>
                                                    <li><a href="{% url 'dashboard' %}" class="button button-xlarge button-circle button-border button"><i class="icon-home"></i>Home</a></li>
                                                    <li><a href="{% url 'list_usuarios' %}" class="button button-xlarge button-circle button-border button"><i class="icon-users"></i>Usuários</a></li>
                                                    <li><a href="{% url 'list_equipamentos' %}" class="button button-xlarge button-circle button-border button"><i class="icon-phone2"></i>Inventário</a></li>
                                                    <li><a href="{% url 'list_contratos' %}" class="button button-xlarge button-circle button-border button"><i class="icon-note"></i>Contratos</a></li>
                                                    <li><a href="{% url 'list_clientes' %}" class="button button-xlarge button-circle button-border button"><i class="icon-building"></i>Clientes</a></li>
                                                    <li><a href="#" class="button button-xlarge button-circle button-border button"><i class="icon-bill"></i>Faturamento</a></li>
                                                </ul>
                                            </nav>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
							<!-- Modal Contact Form End -->
						</div>
					</div>
                    </div>
                    {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    {% endfor %}
                    {% block main %}
                    {% endblock %}
				</div>
			</div>
		</section><!-- #content end -->
    </div>

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <!-- Google Map JavaScripts
    ============================================= -->
    <script type="text/javascript" src="{% static 'js/jquery.gmap.js' %}"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
</body>
</html>